.background-projet {
    min-height: 80vh;
    position: relative;
    overflow: hidden;
}

.container-exp {
    position: relative;
    width: 100%;
    height: 90vh;
}

.card {
    background: transparent;
    border: #333 solid;
    border-radius: 8px;
    overflow: hidden;
    color: #000000;
    font-family: "Fira Code", monospace;
    background: rgba(255, 255, 255, 0.03);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.4px);
    -webkit-backdrop-filter: blur(2.4px);
    border: 1px solid rgb(86, 78, 78);
}


.card:hover .terminal-content {
    opacity: 1;
}
.card-header {
    color: #333;
}

.terminal-bar {
    height: 32px;
    border-bottom: 1px solid rgb(86, 78, 78);
    display: flex;
    align-items: center;
    padding: 0 10px;
    gap: 8px;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.red {
    background: #ff5f57;
}

.yellow {
    background: #ffbd2e;
}

.green {
    background: #28c840;
}

.terminal-content {

    padding: 15px;
    color: black;    
    opacity: 0;
    transition: opacity .25s;    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align : left;

    padding: 40px 10px;
}


.project-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
}